<div class="col-sm-12 p-0 d-flex justify-content-center">
  <div class="col-sm-4 float-left p-0 app-status" *ngIf="hide">
    <h5 class="col-sm-12">Application Status</h5>
    <div class="col-sm-12">
      <div class="col-sm-12 bg-white rad-box p-0 h78 ovf-y">
        <div class="col-sm-12 p-0 rad-box">
          <mat-card class="example-card" *ngFor="let lev of leave; let i = index">
            <mat-card-header>
              <mat-card-title class="mb-2 float-left">
                You applied <span *ngIf="lev.leave_type == 'cl'">casual leave</span>
                <span *ngIf="lev.leave_type == 'sl'">sick leave</span>
                <span *ngIf="lev.leave_type == 'pl'">privileged leave</span>
                <span *ngIf="lev.leave_type == 'ptl'">paternity leave</span>
                <span *ngIf="lev.leave_type == 'ml'">maternity leave</span>
                <span *ngIf="lev.leave_type == 'rh'">restricted leave</span>
                  on {{lev.date_of_apply}} from
                  <br />{{lev.date_from}} to {{lev.date_to}}
                  <br />
                <mat-card-subtitle class="mt-2" *ngIf="lev.leave_status == 'Rejected'">Reason: {{ lev.decline_reason }}</mat-card-subtitle>
              </mat-card-title>
              <mat-chip-list class="col-sm-2 float-right">
                <mat-chip *ngIf="lev.leave_status == 'Approved'" class="pl-2 pr-2 pt-1 pb-1">Approved</mat-chip>
                <mat-chip color="primary" selected *ngIf="lev.leave_status == 'Rejected'" class="pl-2 pr-2 pt-1 pb-1">Rejected</mat-chip>
                <mat-chip color="accent" selected *ngIf="lev.leave_status == 'Pending'" class="pl-2 pr-2 pt-1 pb-1">Pending</mat-chip>
                <mat-card-subtitle *ngIf="lev.leave_status == 'Modified'">Reason: Modified_reason</mat-card-subtitle>
              </mat-chip-list>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 float-left p-0">
    <h5 class="col-sm-12">Profile Status</h5>
    <div class="col-sm-12"><!-- h78 ovf-y-->
      <div class="col-sm-12 p-0 bg-white rad-box h78 ovf-y">
        <mat-card class="example-card" style="box-shadow:none;">
          <mat-card-header class="col-sm-4 p-0 float-left brder">
            <mat-card-title class="">{{employee.name}}</mat-card-title>
            <mat-card-subtitle>{{employee.email_id}}<br /><strong>{{employee.qci_id}}</strong>&nbsp;[ {{employee.board}} ]</mat-card-subtitle>
          </mat-card-header>
          <div class="col-sm-8 p-0 float-left" style="font-size:14px">
            <div class="col-sm-3 float-left">
              <div class="col-sm-12 p-0">Type of leave</div>
              <div class="col-sm-12 p-0 mt-2">Total</div>
              <div class="col-sm-12 p-0">Balance</div>
            </div>
            <div class="col-sm-9 float-left">
              <div class="clearfix col-sm-12 p-0">
                <div class="col-sm-2 float-left" *ngIf="employee.cl">CL</div>
                <div class="col-sm-2 float-left" *ngIf="employee.sl">SL</div>
                <div class="col-sm-2 float-left" *ngIf="employee.pl">PL</div>
                <div class="col-sm-2 float-left" *ngIf="employee.ptl && employee.ptl.bal !== 0">PTL</div>
                <div class="col-sm-2 float-left" *ngIf="employee.ml && employee.ml.bal !== 0">MTL</div>
                <div class="col-sm-2 float-left" *ngIf="employee.rh">RH</div>
              </div>
              <div class="clearfix col-sm-12 p-0 mt-2">
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.cl">{{employee.cl.total}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.sl">{{employee.sl.total}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.pl">{{employee.pl.total}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.ptl && employee.ptl.bal !== 0">{{employee.ptl.total}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.ml && employee.ml.bal !== 0">{{employee.ml.total}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.rh">{{employee.rh.total}}</mat-card-subtitle>
              </div>
              <div class="clearfix col-sm-12 p-0">
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.cl">{{employee.cl.bal}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.sl">{{employee.sl.bal}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.pl">{{employee.pl.bal}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.ptl && employee.ptl.bal !== 0">{{employee.ptl.bal}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.ml && employee.ml.bal !== 0">{{employee.ml.bal}}</mat-card-subtitle>
                <mat-card-subtitle class="col-sm-2 float-left mb-0" *ngIf="employee.rh">{{employee.rh.bal}}</mat-card-subtitle>
              </div>
            </div>
          </div>
          <br /><br /><br /><br /><hr *ngIf="ro" />
          <div class="col-sm-12 p-0" *ngIf="ro" style="clear:both">
            <h6 class="col-sm-12 p-0">Team Application's Status</h6>
            <div class="col-sm-12 p-0">
              <div class="col-sm-12 p-0">
                <mat-tab-group (selectedTabChange)="whichApplication($event)">
                  <mat-tab label="New Applications">
                    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
                      <table id="table_new" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="wd-16">Leave Applied</th>
                            <th class="wd-12">App ID</th>
                            <th class="wd-16">Employee</th>
                            <th class="wd-15">QCI/Board</th>
                            <th class="wd-15">Leave Type</th>
                            <th class="wd-20">Leave Dates</th>
                            <!-- <th class="modify">Actions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let app of application; let i = index;">
                            <td class="wd-16">{{app.date_of_apply}}</td>
                            <td class="wd-12">
                              <a href="javascript:void(0)" class="text-primary" (click)="appInfo(app.application_id, app.qci_id, app.leave_type)">
                                <u>{{app.application_id | slice:0:12 }}</u>
                              </a>
                            </td>
                            <td class="wd-16">
                              <span :matTooltip="{{app.email}}">{{app.name}}</span>
                            </td>
                            <td class="wd-15">
                              <span :matTooltip="{{app.board}}">{{app.board}}</span>
                            </td>
                            <td class="wd-15" *ngIf="app.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                            <td class="wd-15" *ngIf="app.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                            <td class="wd-15" *ngIf="app.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                            <td class="wd-15" *ngIf="app.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                            <td class="wd-15" *ngIf="app.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                            <td class="wd-15" *ngIf="app.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                            <td class="wd-20">{{app.date_from}}-{{app.date_to}}</td>
                            <!-- <td class="modify">
                              <i class="fa fa-check" aria-hidden="true" (click)="appAccept(app.application_id, app.qci_id, app.leave_type)"></i>
                              <i class="fa fa-times" aria-hidden="true" (click)="appCancel(app.application_id, app.qci_id, app.leave_type)"></i>
                              <mat-icon class="mat-iconmaterial-icons pos-rel" role="img" aria-hidden="true">more_vert</mat-icon>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Approved Applications">
                    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
                      <table id="table_approve" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="wd-16">Leave Applied</th>
                            <th class="wd-12">App ID</th>
                            <th class="wd-16">Employee</th>
                            <th class="wd-15">QCI/Board</th>
                            <th class="wd-15">Leave Type</th>
                            <th class="wd-20">Leave Dates</th>
                            <!-- <th class="modify">Actions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let approve of approvedLeave; let i = index;">
                            <td class="wd-16">{{approve.date_of_apply}}</td>
                            <td class="wd-12">
                              <a href="javascript:void(0)" class="text-primary" (click)="appInfo(approve.application_id, approve.qci_id, approve.leave_type)">
                                <u>{{approve.application_id | slice:0:12 }}</u>
                              </a>
                            </td>
                            <td class="wd-16">
                              <span :matTooltip="{{approve.email}}">{{approve.name}}</span>
                            </td>
                            <td class="wd-15">
                              <span :matTooltip="{{approve.board}}">{{approve.board}}</span>
                            </td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                            <td class="wd-15" *ngIf="approve.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                            <td class="wd-20">{{approve.date_from}}-{{approve.date_to}}</td>
                            <!-- <td class="modify">
                              <small>No Actions</small>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Cancelled Applications">
                    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
                      <table id="table_cancel" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="wd-16">Leave Applied</th>
                            <th class="wd-12">App ID</th>
                            <th class="wd-16">Employee</th>
                            <th class="wd-15">QCI/Board</th>
                            <th class="wd-15">Leave Type</th>
                            <th class="wd-20">Leave Dates</th>
                            <!-- <th class="modify">Actions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cancel of cancelledLeave ; let i = index;">
                            <td class="wd-16">{{cancel.date_of_apply}}</td>
                            <td class="wd-12">
                              <a href="javascript:void(0)" class="text-primary" (click)="appInfo(cancel.application_id, cancel.qci_id, cancel.leave_type)">
                                <u>{{cancel.application_id | slice:0:12 }}</u>
                              </a>
                            </td>
                            <td class="wd-16">
                              <span :matTooltip="{{cancel.email}}">{{cancel.name}}</span>
                            </td>
                            <td class="wd-15">
                              <span :matTooltip="{{cancel.board}}">{{cancel.board}}</span>
                            </td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                            <td class="wd-15" *ngIf="cancel.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                            <td class="wd-20">{{cancel.date_from}}-{{cancel.date_to}}</td>
                            <!-- <td class="modify">
                              <small>No Actions</small>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
          <div class="" *ngIf="!ro" style="clear:both"><!-- 
            <img src="http://www.qcin.org/nbqp/dsa/2017/sites/all/themes/bootstrap/images/qci-logo.png" width="100%" height="100%" /> -->
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div><br />