<div class="col-sm-12 p-0 d-flex justify-content-center">
    <div class="col-sm-6 float-left p-0" *ngIf="hide">
        <h5 class="col-sm-12">Application Status</h5>
        <div class="col-sm-12 h78 ovf-y">
            <div class="col-sm-12 p-0 bg-white rad-box">
                <mat-list>
                    <div class="" *ngFor="let stat of stats; let i = index">
                        <mat-list-item>
                            <mat-chip-list>
                                <mat-chip>{{i+1}}</mat-chip>
                            </mat-chip-list>
                            <div class="col-sm-12"><i class="material-icons text-success">face</i> Your leave from 13/05/2018 to 14/05/2018 is approved !</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
<!-- 
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>2.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12"><i class="material-icons text-danger">face</i> Your leave from 24/05/2018 to 25/05/2018 is still pending !</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>3.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12">
                            <i class="material-icons text-warning">face</i> Your leave from 29/05/2018 is not approved !
                        </div>
                    </mat-list-item> -->
                </mat-list>
            </div>
        </div>
    </div>
    <div class="col-sm-6 float-left p-0">
        <h5 class="col-sm-12">Profile Status</h5>
        <div class="col-sm-12 h78 ovf-y">
            <div class="col-sm-12 p-0 bg-white rad-box">
                <mat-card class="example-card" style="box-shadow:none;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">{{employee.qci_id}}</div>
                        <mat-card-title>{{employee.name}}</mat-card-title>
                        <mat-card-subtitle>{{employee.email}}&nbsp;(<strong>{{employee.designation}}</strong>)</mat-card-subtitle>
                        <mat-card-subtitle>{{employee.type_of_employee}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <strong class="mb-3">Leave Balance</strong>
                            <mat-chip-list>
                                <mat-chip class="mb-2">Casual Leave : {{employee.bal_cl}}</mat-chip>
                                <mat-chip class="mb-2">Extra Ordinary Leave : {{employee.bal_eol}}</mat-chip>
                                <mat-chip class="mb-2">Materinity Leave : {{employee.bal_ml}}</mat-chip>
                                <mat-chip class="mb-2">Paterinity Leave : {{employee.bal_pl}}</mat-chip>
                                <mat-chip class="mb-2">Sick Leave : {{employee.bal_sl}}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>