.today {
    color:blue
} .material-icons:hover, .material-icons {
    cursor:pointer;
    font-size:15px
}
.table thead tr th{
    font-size: 0.8rem;
}
.app-status .mat-card-content,.app-status .mat-card-header .mat-card-title,.app-status .mat-card-subtitle{
    font-size:13px;
}
.app-status .mat-card{
    padding:10px;
}