<div class="col-sm-12 p-0">
    <div class="col-sm-6 float-left p-0">
        <h5 class="col-sm-12">Application Status</h5>
        <div class="col-sm-12 h78 ovf-y">
            <div class="col-sm-12 p-0 bg-white rad-box">
                <mat-list>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>1.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12"><i class="material-icons text-success">face</i> Your leave from //date// to //date// is approved !</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>2.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12"><i class="material-icons text-warning">face</i> Your leave //date// to //date// is not approved !</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="col-sm-6 float-left p-0">
        <h5 class="col-sm-12">Profile Status</h5>
        <div class="col-sm-12 h78 ovf-y">
            <div class="col-sm-12 p-0 bg-white rad-box">
                <mat-list>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>1.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12"><i class="material-icons text-success">face</i> Your leave from //date// to //date// is approved !</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>2.</mat-chip>
                        </mat-chip-list>
                        <div class="col-sm-12"><i class="material-icons text-warning">face</i> Your leave //date// to //date// is not approved !</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="materialDate.value">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field> -->
</div>
<!-- 
<div class="col-sm-6">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>See all the holiday lists according to&nbsp;<strong> Quality Council Of India</strong></mat-panel-description>
            </mat-expansion-panel-header>
            <mat-chip-list>
                <div class="col-sm-12 p-0">
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                </div>
            </mat-chip-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>See all the holiday lists according to&nbsp;<strong> Quality Council Of India</strong></mat-panel-description>
            </mat-expansion-panel-header>
            <mat-chip-list>
                <div class="col-sm-12 p-0">
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">January 26</mat-chip>&nbsp;Republic Day</div>
                    <div class="col-sm-6 mt-4 float-left"><mat-chip color="primary" selected="true">Holi date</mat-chip>&nbsp;Holi</div>
                </div>
            </mat-chip-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>
-->
<div class="col-sm-6"></div>