<div class="d-flex justify-content-center">
  <div class="col-sm-8 pt-2 pb-2">
    <h5>Apply for leave</h5>
    <div class="col-sm-12 bg-white p-4 d-inline-block rad-box">
      <form class="example-form">
        <div class="col-sm-6 col-md-3 pl-0 float-left">
          <mat-form-field>
            <input matInput value="" [min]="minDate" [matDatepickerFilter]="disableSunDay" [matDatepicker]="firstDate" placeholder="Date from" (dateInput)="firstDateEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="firstDate"></mat-datepicker-toggle>
            <mat-datepicker #firstDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-3 pl-0 float-left">
          <mat-form-field>
            <input matInput value="" [min]="minDate" [matDatepickerFilter]="disableSunDay" [matDatepicker]="secondDate" placeholder="Date to" (dateInput)="secondDateEvent($event)" :disabled="{{isFirstDateSelected}}">
            <mat-datepicker-toggle matSuffix [for]="secondDate"></mat-datepicker-toggle>
            <mat-datepicker #secondDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-6 pr-0 float-left">
          <mat-form-field>
            <mat-select placeholder="Select leave type" [(ngModel)]="selectedValue" name="leave">
              <mat-option *ngFor="let leave of leaves" [value]="leave.value">{{leave.tol}}<strong class="d-inline">({{leave.bal}})</strong>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-4 pl-0 float-left">
          <mat-form-field>
            <input matInput placeholder="Total Applied Dates" :value="{{leavedays}}" disabled />
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 col-md-12 p-0  float-left">
          <mat-form-field>
            <textarea matInput placeholder="Reason for leave..."></textarea>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <button mat-button class="btn btn-theme">Apply</button>
        </form>
        <!-- form [formGroup]="formGroup">
          <button mat-raised-button (click)="isOptional = !isOptional">{{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}</button>
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </form -->
    </div>
  </div>
</div>