<div class="d-flex justify-content-center">
  <div class="col-sm-5 pt-2 pb-2">
    <h5>QCI Calendar</h5>
    <div class="col-sm-12 p-0 bg-white rad-box">
      <mat-chip-list>
        <div class="col-sm-12 p-0 ovf-y h78">
          <div class="col-sm-12 p-0">
            <div class="float-left col-sm-6 pt-2">
              <strong class="text-info d-inline-block">*</strong> Compulsory Holidays</div>
            <div class="float-left col-sm-6 pt-2">
              <strong class="text-muted d-inline-block">*</strong> Restricted Holidays</div>
          </div>
          <br />
          <br />
          <div *ngIf="!zeroHolidays">
            <div class="col-sm-6 pl-2 pr-2 pb-2 float-left" *ngFor="let all of holidays; let i=index;">
              <div class="mb-1" *ngIf="all.CompulsoryHoliday">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="text-info" style="font-size:13px">{{all.CompulsoryHoliday}}
                  <small class="mt-2">{{all.Date}}</small>
                </strong>
              </div>
              <div class="mb-1 bg-light text-dark" *ngIf="all.Today">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="" style="font-size:13px">{{all.Today}}
                  <small class="mt-2">{{all.Date}}
                    <sup class="text-danger">
                      <h6 class="d-inline">*</h6>
                    </sup>
                  </small>
                </strong>
              </div>
              <div class="mb-1" *ngIf="all.RestrictedHoliday">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="text-muted" style="font-size: 13px">{{all.RestrictedHoliday}}
                  <small class="mt-2">{{all.Date}}</small>
                </strong>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-4 mb-2 text-center" *ngIf="zeroHolidays">Holidays will be updated soon !</div>
        </div>
      </mat-chip-list>
    </div>
  </div>
  <div class="col-sm-7 pt-2 pb-2">
    <h5>Apply for leave</h5>
    <div class="col-sm-12 pl-4 pt-0 pr-4 pb-3 d-inline-block bg-white rad-box h78">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select date and type</ng-template>
            <div class="col-sm-6 col-md-3 float-left pt-3">
              <mat-form-field>
                <input matInput [min]="minDate" [matDatepickerFilter]="disableSunDay" [matDatepicker]="fDate"
                  placeholder="Date from" (dateInput)="firstDateEvent($event)" formControlName="check11">
                <mat-datepicker-toggle matSuffix [for]="fDate"></mat-datepicker-toggle>
                <mat-datepicker #fDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3 float-left pt-3">
              <mat-form-field>
                <input matInput [min]="minDate2" [matDatepickerFilter]="disableSunDay" [matDatepicker]="sDate"
                  placeholder="Date to" (dateInput)="secondDateEvent($event)" formControlName="check12" :disabled="{{isFirstDateSelected}}">
                <mat-datepicker-toggle matSuffix [for]="sDate"></mat-datepicker-toggle>
                <mat-datepicker #sDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-4 float-right pt-3">
              <mat-form-field>
                <mat-select placeholder="Select leave type" formControlName="check13" [(ngModel)]="leave_type" (change)="ifLeavesAreLess(leave_type)"
                  name="leave" [(value)]="selected"><!-- :disabled="{{isFirstDateSelected}}"-->
                  <mat-option *ngIf="employee.cl" :value="cl">
                    <span>Casual Leave ({{employee.cl.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="employee.sl" :value="sl">
                    <span>Sick Leave ({{employee.sl.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="employee.pl" :value="pl">
                    <span>Privileged Leave ({{employee.pl.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="employee.ml && employee.ml.bal !== 0" :value="ml">
                    <span>Maternity Leave ({{employee.ml.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="employee.ptl && employee.ptl.bal !== 0" :value="ptl">
                    <span>Paternity Leave ({{employee.ptl.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="employee.rh" :value="rh">
                    <span>Restricted Holiday ({{employee.rh.bal}})</span>
                  </mat-option>
                  <mat-option *ngIf="!employee.od" :value="od">
                    <span>On Duty</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="clearfix pt-4"></div>
            <div class="clearfix pt-1"></div>
            <div class="col-sm-6 col-md-4 float-left pt-3">
              <mat-form-field>
                <input matInput placeholder="Total Applied Dates" :value="{{leavedays}}" disabled>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3 float-left pt-2" *ngIf="showHalfDay">
              <br />
              <mat-checkbox [ngModelOptions]="{standalone:true}" [(ngModel)]="isHalfDay" (click)="halfDay()" [disabled]="disabled">{{this.firstDate}}</mat-checkbox>
            </div>
            <div class="col-sm-6 col-md-3 float-left pt-2" *ngIf="showHalfDay && noSameDay">
              <br />
              <mat-checkbox [ngModelOptions]="{standalone:true}" [(ngModel)]="issHalfDay" (click)="shalfDay()" [disabled]="sdisabled">{{this.secondDate}}</mat-checkbox>
            </div>
            <div class="clearfix pt-4"></div>
            <div class="col-sm-6 col-md-4 float-left mb-3 mt-4">
              <button mat-raised-button matStepperNext [disabled]=dis>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Reason for leave</ng-template>
            <div class="col-sm-6 col-md-12 float-left pt-3">
              <mat-form-field>
                <textarea matInput placeholder="Reason for leave..." formControlName="check3" [(ngModel)]="leave_reason"
                  name="leave_reason" rows="5" cols="40"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-4 float-left mb-3 mt-4">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button (click)="Applyleave(stepper)" matStepperNext [disabled]=dis2>Apply</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmation</ng-template>
          <div class="d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 p-0">
              <mat-card class="example-card" style="box-shadow:none">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                    <h3 class="material-icons">label</h3>
                  </div>
                  <mat-card-title>
                    <h4 class="mt-3">Successfully apllied</h4>
                  </mat-card-title>
                  <mat-card-subtitle>Status : Pending</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="pl-3 mt-5">
                  <button mat-raised-button color="accent"  matStepperPrevious>Back</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
